<section class="card bg-dark text-light">    
    <div class="">
        <h1 class="text-9xl font-bold">404</h1>
        <h1 class="border-y-8 border-gray-800 p-6 text-4xl font-bold basis-full">THE PAGE YOU ARE LOOKING FOR CANNOT BE FOUND.</h1>
    </div>
    
</section>