<div class="container mb-3 h-100">
  <h2 class="">Login</h2>

  <form class="login-form">
    <input class="form-control" type="text" id="email-login" placeholder="e-mail" />
    <br>
    <input class="form-control" type="password" id="password-login" placeholder="password" />
    <br>
    <button class="btn btn-secondary" type="submit">login</button>
  </form>
  <hr>
  <br>

  <h4 class="text-center text-gray-800">Not a member yet?</h4>
  <div class="text-center">
    <a href="../api/users/signup"
      class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign up</a>
  </div>
  <br>
</div>

<script src="/js/login.js"></script>