<section class="max-w-screen-xl mx-auto bg-gray-50 p-12 rounded-3xl my-8 shadow-lg h-100">
  <div class="flex justify-center">
    <div>
      <h2 class="text-2xl text-center font-bold text-slate-800 pb-3">Sign up</h2>
      <form class="signup-form p-3">
        <input class="form-control" type="text" id="name-signup" placeholder="name" />
        <br>
        <input class="form-control" type="text" id="email-signup" placeholder="e-mail" />
        <br>
        <input class="form-control" type="password" id="password-signup" placeholder="password" />
        <br>
        <button class="btn btn-secondary" type="submit">sign up</button>
      </form>
      <hr>
      <br>
      <h4 class="text-center text-gray-800">Already a member?</h4>
      <br>
      <div class="text-center">
        <a href="../../login"
          class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Log In
        </a>
      </div>
      <br>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>